certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib
jsonify
kiwisolver
MarkupSafe
matplotlib
numpy
pandas
pickle-mixin
Pillow
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
sklearn
threadpoolctl
urllib3
Werkzeug
wincertstore
gunicorn